parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Resource/*
        - src/SqlBladeProvider.php
        - tests/TestCase.php
    level: max
    bootstrapFiles:
        - phpstan.bootstrap.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
